<!DOCTYPE html>
<body lang="en">

<head>

	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css">
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<style type="text/css">
		html,
		body {
		    height:100%
         }

        #nav {
            border-bottom: #f6f6f6 solid 2px;
            width: 100%;
         }

        .navigation li {
            display: inline-block;
            padding: 5px 40px;
            text-align: center;
        }

        li a {
            color: #f6f6f6;
            padding-top: 5px;
            padding-bottom: 5px;
        }
     </style>

    <div id="nav">
        <div class="row">
            <nav class="navigation">
                <div class="col-sm-12">
                    <ul>
                        <center>
                            <li><a href="/home/">Начало</a></li>
                            <li><a href="/contact/">Контакт</a></li>
                            <li><a href="#">За нас</a></li>
                            <li><a href="#">Playlist</a>
                            <li><a href="/music/">Music</a></li>
                        </center>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</head>

<body class="body" style="background-color: black;">

</body>

</html>